{{ define "main" }}
<hgroup class="hgroup">
  {{if .Params.article}}{{ $topic := index (.GetTerms "danh-muc") 0}}<p class="chapter"><a href="{{ $topic.Permalink }}">{{ $topic.LinkTitle }}</a></p> {{ end }}
  <h1 class="title">{{.Title}}</h1>
  {{if .Params.article}}{{ if (not (eq .Description ""))}}<p class="description"><i>{{ .Description }}</i></p>{{ end }}{{ end }}
  {{if .Params.article}}<p><small><i><time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>{{ .Date.Format (default "2-1-2006" .Site.Params.dateFormat) }}</time> - {{ printf "%d phút đọc" .ReadingTime }}</i></small></p>{{ end }}
</hgroup>
<br>
<content class="contents article">
{{if .Params.article}}
{{ with .Params.featured_image }}
{{ $src := resources.GetMatch . }}
{{ if $src }}
<center>
<figure>
  {{ $data := newScratch }}

  {{ if gt $src.Width 1100 }}
    {{ $data.Set "webp" ($src.Resize "960x webp q73") }}
    {{ $data.Set "fallback" ($src.Resize "960x q73") }}
  {{ else }}
    {{ $data.Set "webp" ($src.Resize (printf "%dx%d webp q73" $src.Width $src.Height)) }}
    {{ $data.Set "fallback" ($src.Resize (printf "%dx%d q73" $src.Width $src.Height)) }}
  {{ end }}

  {{ $webp := $data.Get "webp" }}
  {{ $fallback := $data.Get "fallback" }}

  <a href="{{ $src }}">
    <picture>
      <source srcset="{{ $webp.RelPermalink }}" type="image/webp">
      <img src="{{ $fallback.RelPermalink }}" alt="article image" loading="lazy" decoding="async" width="{{ $src.Width }}" height="{{ $src.Height }}" />
    </picture>
  </a>
</figure>
</center>
{{ end }}
{{ end }}
{{ end }}
<br>
{{ .Content }}
</content>
<br>
{{if .Params.article}}
<div class="container">{{ range (.GetTerms "tag") }}
  <a class="tag" href="{{ .Permalink }}">{{ .LinkTitle }}</a>{{ end }}
</div>
{{ end }}
{{ end }}