.chapter {
  margin-bottom:calc(var(--pico-spacing) * .25);
}

.chapter > a{
  text-decoration: none !important;
}

.title{
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.description{
  margin-bottom: 5px;
}

.tag{
  text-transform: uppercase;
  text-decoration: none !important;
  padding: 5px 10px;
  font-size: 0.9em;
  border-radius: 3px;
  background: var(--pico-primary-underline);
  line-height: 1.5rem;
  margin: 0 5px 5px 0;
}

.article-title{
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none !important;
}

.article-des{
  font-size: 1rem;
}

.article-img{
  height: 144px;
  width: 144px; 
  min-height: 144px;
  min-width: 144px;
  object-fit: cover;
  border-radius: var(--pico-border-radius);
}

@media (max-width: 576px) {
  .article-img{
    height: 120px;
    width: 120px; 
    min-height: 120px;
    min-width: 120px;
  }
  .article-des{
    margin-bottom: 3px;
  }
}


iframe{
  border-radius: var(--pico-border-radius);
}

.center-img{
  margin-bottom: 1rem;
}

.center-img > p{
  margin-top: 0.5rem;
  font-size: 1.2rem;
}
content > center > img{
  border-radius: var(--pico-border-radius);
}

.site-title{
  text-decoration: none !important; 
  font-size: 2rem; 
  font-weight: 900;
}

content > p > img {
  margin-bottom: 1rem;
  border-radius: var(--pico-border-radius);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media (max-width: 1024px) {
  .menu-icons{
    display: none;
  }
}

.pagination ul {
  padding: 0;
}

.pagination ul li {
  display: inline-block;
  padding: 5px 10px;
}

.pagination li{
  box-sizing: border-box;
}

.pagination ul li a {
  padding: 3px 10px;
  display: block;
  color: #555;
  min-width: 40px;
  min-height: 40px;
  line-height: 32px;
  text-decoration: none;
  text-align: center;
  border-radius: var(--pico-border-radius);
}

.pagination ul li.active a {
  color: #fefefe;
  background-color: var(--pico-color);
}

.menu{
  flex-wrap: wrap;
}