.chapter {
  margin-bottom:calc(var(--pico-spacing) * .25);
}

.chapter > a{
  text-decoration: none !important;
}

.title{
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.description{
  margin-bottom: 5px;
}

.tag{
  text-transform: uppercase;
  text-decoration: none !important;
  padding: 5px 10px;
  font-size: 0.9em;
  border-radius: 3px;
  background: var(--pico-mark-background-color);
  line-height: 1.5rem;
  margin: 0 5px 5px 0;
}

.article-title{
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none !important;
}

.article-des{
  font-size: 0.9rem;
}

.article-img{
  height: 144px;
  width: 144px; 
  object-fit: cover;
}

iframe{
  border-radius: var(--pico-border-radius);
}

.center-img{
  margin-bottom: 1rem;
}

.center-img > p{
  margin-top: 0.5rem;
  font-size: 1.2rem;
}
content > center > img{
  border-radius: var(--pico-border-radius);
}

.site-title{
  text-decoration: none !important; 
  font-size: 2rem; 
  font-weight: 900;
}

content > p > img {
  margin-bottom: 1rem;
  border-radius: var(--pico-border-radius);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media (max-width: 768px) {
  .menu-icons{
    display: none;
  }
}

.pagination{
    display: inline-block;
}

.pagination > li {
  display: inline-block;
  padding: 5px 10px;
}

.pagination > .active > a {
  text-decoration: underline;
}