{{ range .pages }}
{{if .Params.article}}
<article style="display: flex;">
{{ if .Params.featured_image }}
<div style="padding-right: 20px;">
	{{ $image := resources.GetMatch .Params.featured_image }}{{ $image := $image.Resize "x288" }}{{ $image := $image.Process "webp" }}
	<a href="{{ .Permalink }}"><img src="{{ $image.RelPermalink }}" class="article-img" alt="title-img"></a>
</div>
{{- end }}
<div>
{{ $readingTime := div (float .ReadingTime) 1}}
{{ $readingTime = math.Ceil $readingTime }}
{{ $topic := index (.GetTerms "danh-muc") 0}}<p class="chapter"><a href="{{ $topic.Permalink }}">{{ $topic.LinkTitle }}</a> - {{ printf "%d phút đọc" (int $readingTime) }}</p>
<a class="article-title" href="{{ .Permalink }}">{{ .Title }}</a>
<p class="article-des">{{ .Description }} </p>
<p style="margin: 0; font-size: 0.9rem;">
<time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
{{ .Date.Format (default "2-1-2006" .Site.Params.dateFormat) }}
</time>
</p>
</div>
</article>{{ end }}{{ end }}